/* VARIABLES */
@import './colors';

/* SITE */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'DM Sans', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	margin: 0 2rem;
	background-color: $cream;
}

/* SECTION */

.balance {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10rem;
	width: 100%;
	padding: 0 2.5rem 0 2rem;
	border-radius: 1rem;
	color: $very-pale-orange;
	background-color: $soft-red;

	.textarea {
		&__heading {
			font-size: 1.4rem;
			margin-bottom: 0.5rem;
			opacity: 0.7;
		}

		&__total {
			font-weight: 700;
			font-size: 2rem;
		}
	}

	.logo {
		height: 4rem;
	}
}

.data {
	height: 42rem;
	margin: 2rem;

	.chart {
		height: 25rem;
		width: auto;
	}
}

footer {
	text-align: center;
}

/* HOVERS */

/* MEDIA QUERIES */

@media (min-width: 500px) {
}
