/* VARIABLES */
@import './colors';

/* SITE */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'DM Sans', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	margin: 0 2rem;
	background-color: $cream;
}

/* SECTION */

.balance {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10rem;
	width: 100%;
	padding: 0 2.5rem 0 2rem;
	border-radius: 1rem;
	color: $very-pale-orange;
	background-color: $soft-red;

	.textarea {
		&__heading {
			font-size: 1.4rem;
			margin-bottom: 0.5rem;
			opacity: 0.7;
		}

		&__total {
			font-weight: 700;
			font-size: 2rem;
		}
	}

	.logo {
		height: 4rem;
	}
}

.data {
	padding: 2rem;
	margin-top: 2rem;
	border-radius: 1rem;
	background-color: $very-pale-orange;

	.heading {
		font-size: 2.4rem;
		color: $dark-brown;
	}

	.chart {
		display: flex;
		justify-content: space-between;
		text-align: center;
		border-bottom: 2px solid $cream;

		&__col {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			min-height: 25rem;

			&--data {
				position: relative;
				min-width: 3.3rem;
				border-radius: 0.5rem;
				background-color: $soft-red;
				transition: opacity 0.3s;
				cursor: pointer;

				.popup {
					visibility: hidden;
					font-size: 1.2rem;
					font-weight: 700;
					position: absolute;
					top: -3rem;
					left: 50%;
					transform: translate3d(-50%, 0, 0);
					width: auto;
					padding: 0.5rem;
					border-radius: 0.5rem;
					background-color: $dark-brown;
					color: $cream;
				}
			}

			&--day {
				font-size: 1rem;
				padding-bottom: 2.5rem;
				margin-top: 1.2rem;
				color: $medium-brown;
			}
		}
	}
}

.text {
	font-size: 1.4rem;
	margin: 3rem 0 0.5rem;
	color: $medium-brown;
}

.summary {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__total {
		font-size: 2.9rem;
		font-weight: 700;
		color: $dark-brown;
	}

	&__textarea {
		text-align: right;

		&--growth {
			font-size: 1.4rem;
			font-weight: 700;
			color: $dark-brown;
		}

		&--text {
			font-size: 1.4rem;
			color: $medium-brown;
		}
	}
}

footer {
	text-align: center;
	margin-top: 1rem;
}

/* HOVERS */

.data {
	.chart {
		&__col {
			&--data:hover {
				opacity: 0.8;

				.popup {
					visibility: visible;
				}
			}
		}
	}
}

/* MEDIA QUERIES */

@media (min-width: 500px) {
}
